:root {
    --brown: rgb(92, 59, 41);
    --beige: rgb(221, 209, 168);
    --gray: rgb(92, 92, 92);
    --img-height: 150px;
}

footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--brown);

    /* border-top: 0.25rem solid var(--gray); */
}

img {
    display: flex;
    justify-content: center;
    height: var(--img-height);
}

footer > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
}

.contactEmail {
    color: var(--beige);
    font-size: x-large;
}

.logos-margin > div {
    margin: 0 60px;
}
