:root {
  --brown: rgb(92, 59, 41);
  --beige: rgb(221, 209, 168);
  --gray: rgb(92,92,92);
  --img-height: 150px;
}

footer {
    background-color: var(--brown);
    padding: 1.5em;

    /* border-top: 0.25rem solid var(--gray); */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

img {
    display: flex;
    justify-content: center;
    height: var(--img-height);
}

footer > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactEmail {
    color: var(--beige);
    font-size: x-large;
}
