* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html,
body {
    min-height: 100%;
}

.layout {
    width: 100%;
    margin: 0 auto;
}

html {
    background-color: rgb(92,59,41)
}

@font-face {
    font-family: 'Red';
    src: url(https://fonts.googleapis.com/css2?family=Praise&family=Red+Hat+Display&display=swap);
  }
  