* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html,
body {
    min-height: 100%;
}

html {
    background-color: bisque;
}

a {
    color: white;
    text-decoration: none;
}
