* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    word-wrap: normal;
}

html,
body {
    min-height: 100%;
}

html {
    background-color: rgb(92, 59, 41);
}

a {
    color: white;
    text-decoration: none;
}
