.testing {
    border: 2px black solid;
}

.test {
    border: 1px black solid;
}

.biljett {
    background-color: #2c3b26;
    width: 100%;
    padding: 25px;
}

.video-container {
    background-color: #2c3b26;
}
