.biljett {
    background-color: #2c3b26;
    width: 100%;
    padding: 25px;
}

.video-container {
    background-color: #2c3b26;
}

.text-container {
    display: flex;
    flex-direction: column;
    width: 80%;
}
