nav {
    background-color: aliceblue;
    width: 100%;
    height: 60px;
}

.links {
    display: flex;
    color: blue;
}

.links a {
    margin: 20px;
    margin-left: 80px;
}


.links a.logo {
    display: flex;
    width: 95px;
    height: 100%;
    object-fit: contain;
    margin: 0px;
    margin-left: 60px;
    border: 1px black solid;
}

.links a.logo img {
    max-height: 60px;
}

.links a.biljett {
    display: flex;
    align-items: right;
    justify-content: flex-end;
    margin: 20px;
    border: 1px black solid;
}

/* .logo img {
    object-fit: contain;
    width: 200px;
    height: 200px;
} */
